@import url("normalize.css");
@import url("all.min.css");
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:400,500,600,700&display=swap');
/*
	font-family: 'Montserrat', sans-serif;
	font-family: 'Lora', serif;
*/

/* Color Theme Swatches in Hex */
/*
.abstract-powder-splatted-background,Freeze-motion-of-green-powder-exploding/throwing-green-dust-1-hex { color: #0D5902; }
.abstract-powder-splatted-background,Freeze-motion-of-green-powder-exploding/throwing-green-dust-2-hex { color: #0A4001; }
.abstract-powder-splatted-background,Freeze-motion-of-green-powder-exploding/throwing-green-dust-3-hex { color: #6EBF34; }
.abstract-powder-splatted-background,Freeze-motion-of-green-powder-exploding/throwing-green-dust-4-hex { color: #A9D979; }
.abstract-powder-splatted-background,Freeze-motion-of-green-powder-exploding/throwing-green-dust-5-hex { color: #F2F2F2; }
*/

/* Color Theme Swatches in RGBA */
/*
.abstract-powder-splatted-background,Freeze-motion-of-green-powder-exploding/throwing-green-dust-1-rgba { color: rgba(13, 89, 1, 1); }
.abstract-powder-splatted-background,Freeze-motion-of-green-powder-exploding/throwing-green-dust-2-rgba { color: rgba(9, 63, 1, 1); }
.abstract-powder-splatted-background,Freeze-motion-of-green-powder-exploding/throwing-green-dust-3-rgba { color: rgba(109, 191, 51, 1); }
.abstract-powder-splatted-background,Freeze-motion-of-green-powder-exploding/throwing-green-dust-4-rgba { color: rgba(169, 216, 121, 1); }
.abstract-powder-splatted-background,Freeze-motion-of-green-powder-exploding/throwing-green-dust-5-rgba { color: rgba(242, 242, 242, 1); }
*/
/* Color Theme Swatches in HSLA */
/*
.abstract-powder-splatted-background,Freeze-motion-of-green-powder-exploding/throwing-green-dust-1-hsla { color: hsla(112, 96, 17, 1); }
.abstract-powder-splatted-background,Freeze-motion-of-green-powder-exploding/throwing-green-dust-2-hsla { color: hsla(112, 96, 12, 1); }
.abstract-powder-splatted-background,Freeze-motion-of-green-powder-exploding/throwing-green-dust-3-hsla { color: hsla(95, 57, 47, 1); }
.abstract-powder-splatted-background,Freeze-motion-of-green-powder-exploding/throwing-green-dust-4-hsla { color: hsla(90, 55, 66, 1); }
.abstract-powder-splatted-background,Freeze-motion-of-green-powder-exploding/throwing-green-dust-5-hsla { color: hsla(0, 0, 95, 1); }
*/
html, body {
  height: 100%;
}
* {
	box-sizing: border-box;
}
body {
	font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.42857143;
	color: #767676;
	background-color: #f8f8f8;
	display: flex;
  flex-direction: column;
}
a {
	color: #232323;
	text-decoration: none;
}
a:hover {
  color: #A9D979;
}
img {
  display: block;
  width: 100%;
}
address { font-style: normal; }
menu, ul { margin: 0; padding: 0; }
ul.unstyle-list {
	list-style: none;
}
h1 { margin: 0; }
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}
h6 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
}
.shadow {
    box-shadow: 4px 6px 8px 0px #ccc;
}
.rounded-btn-outline,
.rounded-btn {
	display: block;
	font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 0.8em;
	border-radius: 3em;
	padding: 1em 5em;
	border: 2px solid #A9D979;
	line-height: 1.625em;
	text-transform: uppercase;
	text-align: center;
}
.rounded-btn {
  background-color: #0D5902;
  color: #fff;
  max-width: 300px;
}
/* NOTE: Site Design Styles */
.wrapper {
	position: relative;
	flex: 1 0 auto;
}
.header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	/* align-items: center; */
	position: absolute;
	top: 0;
	width: 100%;
	max-height: 100px;
	z-index: 99;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	/* https://css-tricks.com/almanac/properties/w/will-change/ */
	will-change: scroll-position, transform;
	transition: 0.3s linear;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
}
.header .logo img {
	max-width: 100px;
}
nav {
	align-self: center;
}
menu ul {
	align-content: center;
	list-style: none;
}
menu ul li {
	display: inline;
	font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
	font-size: .70em;
	font-weight: 400;
	letter-spacing: 0px;
	color: #fff;
	transition: 0.3s linear;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
}
menu ul li > a {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	padding: 0 1.3em;
	transition: 0.2s linear;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
}
.menu > li:hover > a {
	opacity: .6;
}
.menu > li:last-child a {
    padding-right: 0;
}
.nav-icons {
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 1em;
}
.nav-icons > div:not(:last-child) {
	padding: 0 1em;
}
.nav-icons,
.nav-icons a {
	color: #fff;
}

.parallax-window {
	/* min-height: 400px; */
	background: transparent;
}
.hero-container.parallax-window,
.hero {
	height: 100vh;
}
.banner-container.parallax-window,
.banner {
	height: 50vh;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.25);
	position: relative;
}
.hero * {
  opacity: 0;
  animation: fadeUp 1s ease;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    -webkit-transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.hero h1 {
  display: block;
	font-size: 2em;
	line-height: normal;
	color: #f5f5f5;
  width: 100%;
  text-align: center;
}
.hero h1 span {
	font-size: 2.4em;
	display: block;
}
.hero ul.social-list {
	position: absolute;
	font-size: 1.25em;
	bottom: 3%;
  left: 0;
  width: 100%;
  text-align: center;
}
ul.social-list li {
	list-style: none;
	display: inline;
}
ul.social-list li:not(:last-child) {
    margin-right: 3.25em;
}
ul.social-list li > a {
	color: #eee;
	font-size: 1.4375em;
}

/* NOTE: Banner / Secondary Pages */
.banner {}
.banner h1 {
	font-size: 4em;
	font-weight: 600;
	line-height: 1.015625em;
	margin-bottom: 0.40625em;
	color: #f5f5f5;
}
/* NOTE: About information section */
.light-container {
	background-color: #F2F2F2;
	color: #0D0D0D;
}
.info-container {
	padding: 6% 0;
}
.info-container * {
	text-align: center;
	margin: 0;
	padding: 0;
}
.info-container h2 {
	font-weight: 600;
	font-size: 3em;
	margin-bottom: .5em;
	color: #0A4001;
}
.info-container .lead {
	display: block;
	width: 70%;
	font-size: 1em;
	line-height: 1.4em;
	margin: 0 auto;
}
.statics {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: center;
	text-align: center;
	color: #F2F2F2;
	background-color: rgba(9, 63, 1, .45);
	padding: 4.125em 0;
}
.statics section {
	margin: 2em;
}
.statics .icon {
	font-size: 4em;
}
.statics h3 {
	font-size: 1em;
	margin: 0 0 .2em 0;
}
.statics span {
	font-size: .9em;
	font-style: italic;
}
.statics span.counter {
  display: block;
  width: 100%;
}

.container {
	padding: 2%;
}
/* NOTE: article, section and aside */
article {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: [article-start] 2fr [article-end] .55fr;
}
article h2 {
  font-size: 2em;
  font-weight: 400;
}
article h2:first-of-type {
  margin-top: 0;
}
.article-wrapper {
  grid-column: article-start;
}
section.news {
	display: grid;
	grid-gap: 2em 1em;
	grid-template-columns: repeat(2, auto);
}
.gallery-container {
	display: grid;
	grid-gap: 2em 1em;
	grid-template-columns: repeat(3, auto);
}
.card-wrapper {
	background-color: #fff;
}

.card-wrapper .card-details {
	padding: 1.625em;
}
.card-wrapper .card-details h4 {
	margin-bottom: 1.3em;
	color: #767676;
	font-weight: 400;
	margin-top: 0;
}
.card-wrapper .card-details h5 {
	font-weight: 400;
	font-size: 1.25em;
	color: #232323;
	margin: 0;
}
.card-wrapper .card-details .date {
	margin-top: 0;
}
aside.sidebar {
	grid-column: article-end;
}
aside h6 {
	margin: 0;
	margin-bottom: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid rgba(242, 242, 242, 1);
}
aside ul {
	padding: 0 2%;
	margin-bottom: 3em;
}
/* NOTE: Section Introduction */
.section-intro {
	display: grid;
	grid-template-columns: [col-start] 1fr [col-end] 1fr;
	align-self: center;
}
.section-intro:nth-of-type(even) {
	text-align: left;
	direction: rtl;
}
.section-intro img {
  /* width: 100%;
	max-height: 686px; */
}
.section-intro .section-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10%;
}
.section-intro .section-details.dark-section {
	background-color: #0A0D0C;
	color: #f5f5f5;
}
.section-intro .section-details h2 {
	font-size: 3.75em;
	font-weight: 700;
	margin: 0;
}

/* NOTE: Gallery Section */
.gallery-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1em 1em;
}

/* NOTE: About Section */
.about-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: baseline;
	grid-gap: 1em 2em;
	text-align: center;
}
.about-content section {
	background-color: #fff;
	padding: 2% 5%;
}
.about-content span {
	font-size: 2em;
	color: #0D5902;
}
.about-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  margin: 0 auto 3em auto;
}
.about-wrapper section {
  width: 47vw;
  border-bottom: 1px solid #A9D979;
  border-right: 1px solid #A9D979;
  padding: 2% 10px 2% 0;
  display: grid;
  grid-template-columns: [about-left] 5em [about-right] 1fr;
  /* grid-template-rows: [row1-start] auto [row2-start]; */
  align-content: baseline;
}
.about-wrapper section:nth-of-type(even) {
  border-right: 0;
}
.about-wrapper section:last-of-type {
  border: 0;
}
.about-wrapper section span {
  grid-row: 2 / auto;
  align-self: center;
  font-size: 3em;
  color: #0A4001;
  text-align: center;
}
.about-wrapper section h2,
.about-wrapper section .text {
  grid-column: about-right;
  margin: 0;
}
/* .careers {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-gap: 2em 3em;
} */
.careers {
  display: grid;
  grid-template-columns: [col-start] 1fr [col-end] 1fr;
  align-items: baseline;
  grid-gap: 0 2em;
  /* grid-template-rows: 9em auto; */
}
.careers h3 {
  font-size: 2em;
  font-weight: 400;
}
.careers .information-lead {
  grid-column: 1 / span 2;
}
.career-list section span {
  display: block;
}
.career-list section span a {
  font-size: 1.3em;
  color: #465902;
}
.career-list section {
  background-color: #fff;
  margin-bottom: 2em;
  padding: 1em 2em;
}
/* .team-members h3,
.team-members p {
	text-align: center;
} */
.careers h2,
.team-members h3 {
	font-size: 2.75em;
	font-weight: 400;
	margin-bottom: 0;
	color: #6EBF34;
}
.members {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1em 1em;
	/* padding: 0 5%; */
}
.members h5 {
	font-size: 1em;
	margin: 0;
	color: #0A4001;
}
.members h6 {
	margin: 0;
	line-height: 2.6em;
}
.members img {
	margin-bottom: 1.625em;
}
.members section p {
	text-align: left;
}

/* NOTE: Contact */
.contacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: 3em 0;
}
.contacts > div {
  margin: 0;
  padding: 6.5em 2em;
  min-height: 434px;
}
.contacts div:first-of-type {
  background-color: #6EBF34;
}
.contacts div:first-of-type,
.contacts div:first-of-type a {
  color: #fff;
}
.contacts div:last-of-type,
.contacts div:last-of-type a {
  color: #F2F2F2;
}
.contacts div:last-of-type {
  background-color: #0D5902;
}
.contacts span {
  font-size: 4em;
}
.contacts h4 {
  font-size: 1.4375em;
}
/* NOTE: Footer */
.footer {
	background-color: #0D5902;
	color: #f5f5f5;
	margin-top: 3em;
	flex-shrink: 0;
}
.footer-content {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
	padding: 2% 4%;
}
.footer-content address,
.footer-content p {
	font-size: 0.75em;
}
.footer-content a {
	color: #f5f5f5;
}
.footer-content .menu-footer ul li {
	display: block;
	font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
	font-size: .55em;
	font-weight: 400;
	letter-spacing: 0px;
	color: #f5f5f5;
	margin-bottom: 1em;
	transition: 0.3s linear;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
}
.footer-content .menu-footer li > a {
	color: #f5f5f5;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	padding: 0;
	transition: 0.2s linear;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
}
.footer-content h6,
.footer-content .social-list {
	font-size: 0.625em;
}
.footer-content section p span {
	display: block;
}
.footer .copy {
	font-size: .75em;
	color: #f5f5f5;
	text-align: center;
	padding: 1em 0;
	background-color: #1e1e1e;
	border-top: 2px solid #A9D979;
}
.footer .copy p { margin: 0; }
@media only screen and (max-width: 30em) {
	.hero h1 {
    font-size: 1.2em;
		text-align: center;
	}
	.statics {
    flex-flow: column;
	}
	section.news {
		grid-template-columns: auto;
		grid-gap: 2em 0;
	}
	/* article, section.news, .section-intro {
		grid:none;
		margin-bottom: 30px;
	} */
	.section-intro .section-details h2 {
		line-height: 1;
		font-size: 2em;
	}
	.section-intro .section-details {
		padding: 10%;
	}
	.about-content,
	main .members,
  main .contacts,
  article .gallery-wrapper {
		grid-template-columns: repeat(1, 1fr);
	}
  .about-wrapper {
    flex-flow: column wrap;
  }
  .about-wrapper section {
    width: 100vw;
    border-right: 0;
  }
}
@media only screen and (max-width: 60em) {
	article {
		grid-gap: 2em 1em;
	}
	article, .section-intro, .careers {
		grid-template-columns: auto;
    display: block;
	}
  article aside {
    margin-top: 2em;
  }
	.members, .gallery-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}
